node_modules
**/dist/
**/coverage/
**/.pnpm-store/
**/.turbo/
**/.tsbuildinfo
**/tmp/
**/out-tsc/

.DS_Store
*.local
thumbs.db
tsconfig.tsbuildinfo
.eslintcache
npm-debug.log
.eslintcache

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
